@charset "utf-8";
$blue: #3f43e4;
$font: 'Montserrat', sans-serif;
$speed: background-color 10s ease-in;
html {
    font-family: $font;
}
body.home {
    background-color: #f1ed62;
    color: $blue;
    transition: background-color 3s linear;
    background-image: url('../../img/main-img.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 2000px 1100px; 

    a {
        color: $blue;
    }
}
body.page-template-who {
    background-color: #ffc9c9;
    color: $blue;
    background-image: url('../../img/bg-who.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1800px 1673px; 
    a {
        color: $blue;
    }
}
body.page-template-work {
    background-color: #e6674a;
    color: #fdf475;
    a {
        color: #fdf475;
    }
}
.header {
    width: 1200px;
    margin: auto;
    padding-top: 80px;
    .logo {
        display: inline-block;
        width: 44px;
        height: 40px;
        float: left;
        svg path {
            width: 100%;
            fill: #3f43e4;
        }
    }
    .menu-menu-1-container {
        width: 70%;
        float: right;
        text-align: right;
        li {
            display: inline-block;
            margin-left: 100px;
            a {
                line-height: 50px;
                height: 50px;
                letter-spacing: 1.6px;
                font-size: 1.3rem;
                font-weight: bold;
                border-bottom: 1px solid transparent;
            }
            a::after {
                content: '';
                display: block;
                width: 0;
                margin: -12px auto 0;
                border-bottom: 2px solid #3f43e4;
                transition: width 0.3s ease-in-out;
            }
            a:hover {
                color: #3f43e4;
                opacity: 0.8;
            }
            a:hover::after {
                width: 100%;
            }
        }
    }
    
}
.page-template-work .header .menu li a:hover {
    color: #fdf475;
    opacity: 0.8;
}
.page-template-work .header .menu li a:after {
    border-bottom: 2px solid #fdf475;
}
.page-template-work .logo svg path {
    fill: #fdf475;
}
.page-template-contact .logo svg path {
    fill: #212121;
}
.main-page {
    width: 1200px;
    margin: 0 auto 5%;
    padding-top: 6%;
    .self-intro {
        h1 {
            font-size: 10.0rem;
            font-weight: 600;
            font-style: italic;
            line-height: 1.17;
        }
        p {
            font-size: 1.6rem;
            line-height: 2.3;
            margin-top: 1.2%;
        }
    }
}
.prev {
    content: url('../../img/prev.png');
    margin-right: 30px;
    vertical-align: 4px;
}
.next {
    content: url('../../img/next.png');
    margin-left: 30px;
    vertical-align: 4px;
}
/* who am i*/
.align-center {
    width: 100%;
    margin-top: 65px;
    text-align: center;
    padding-top: 8.8888%;
    h1 {
        font-size: 10.0rem;
        margin-bottom: 35px;
        font-style: italic;
    }
    p {
        font-size: 1.6rem;
    }
}
.mie-intro {
    width: 100%;
    margin-bottom: 200px;
    .wrapper {
        position: relative;
        // padding-left: 21.3888%;
        padding-left: 11.1111%;
        h2 {
            font-size: 4.0rem;
            margin-top: 230px; //230px;
            margin-bottom: 70px;
            font-weight: bold; 
        }
        p {
            width: 665px;
            font-size: 1.6rem;
            line-height: 1.7;
        }
        .mie-photo {
            position: absolute;
            bottom: 0;
            right: 11.1111%;
            display: inline-block;
            width: 779px;
            height: 438px;
            z-index: -10;
        }
        .linked-in {
            display: inline-block;
            margin-top: 103px;
        }
    }
}
/* Work*/
.projects {
    text-align: center;
    color: #fff;
    margin-top: 230px;
    .select-p {
        font-size: 1.3rem;
        letter-spacing: 2px;
        font-weight: bold;
    }
    span {
        margin-top: 15px;
        display: inline-block;
        color: #fdf475;
        font-weight: bold;
        transform: rotate(20deg);
    }
    .project-item {
        margin-top: 95px;
        margin-bottom: 300px;
        h2 {
            margin-top: -260px;
            a {
                display: inline-block;
                color: #fff;
                font-size: 80px;
            }
        }
        .project-img {
            display: inline-block;
            width: 352px;
            height: 203px;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
/* Cebu work */
.post-template-single-phili header,
.post-template-single-pfBook header,
.post-template-single-firstclass header,
.post-template-single-tamakuchen header,
.post-template-single-izumi header,
.post-template-single-nisshin header {
    display: none;
}
.post-template-single-phili {
    color: #212121;
}
.back-home {
    margin: 80px;
    .go-front {
        display: inline-block;
        float: right;
        font-size: 1.2rem;
        font-weight: 600;
        color: #212121;
        line-height: 41.455px;
        span {
            content:url(../../img/arrow.png);
            margin-left: 50px;
        }
    }
}

.pf-work {
    width: 1030px;
    margin: 0 auto 90px;
    color: #212121;
    .title {
        font-size: 1.2rem;
        vertical-align: top;
    }
    .pf-th {
        font-size: 4.0rem;
        line-height: 0.8;
        font-weight: 600;
    }
    .right-100 {
        width: 140px;
    }
    .right-150 {
        width: 270px;
    }
    .desc {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .pf-desc {
        font-size: 1.6rem;
        line-height: 2;
        font-weight: 500;
    }
}
.pf-img {
    width: 100%;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.work-img {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 55px;
    padding-bottom: 170px;
    .work-wrapper {
        margin: auto;
        width: 1030px;
        img {
            display: block;
            width: 100%;
        }
    }
}
.pfbook-content .work-img {
    padding-bottom: 0;
    padding-top: 110px;
}
.work-marble {
    width: 100%;
    padding: 110px 0;
    margin-top: -3px;
    margin-bottom: -3px;
    background: url('../../img/bg-marble.png') no-repeat;
    .book-page {
        width: 1100px;
        margin: auto;
        img {
            display: inline-block;
            width: 100%;
        }
    }
}
footer.ft-cebu {
    width: 100%;
    background: url('../../img/bg-cebu.png') no-repeat;
}
footer.firstclass {
    background: url('../../img/bg-firstclass.png') no-repeat;
}
footer.pf-book {
    background: url('../../img/bg-pfbook.png') no-repeat;
}
footer.ft-tamakuchen {
    background: url('../../img/bg-tamakuchen.png') no-repeat;
}
footer.ft-izumi {
    background: url('../../img/bg-izumi.png') no-repeat;
}
footer.ft-nisshin {
    background: url('../../img/bg-nisshin.png') no-repeat;
}
.footer {
    display: flex;
    width: 1030px;
    margin: auto;
    padding: 150px 0;
    div {
        width: 33.3333%;
        height: 100px;
        line-height: 100px;
    }
    a, span {
        display: inline-block;
        color: #fff;
    }
    .prev-project {
        font-size: 1.2rem;
        letter-spacing: 1px;
        .prev {
            
        }
    }  
    .footer-work {
        text-align: center;
        font-size: 9.0rem;
        font-weight: 600; 
    }
    .next-project {
        font-size: 1.2rem;
        text-align: right;
        letter-spacing: 1px;
    }
}
.page-template-contact {
    .menu-item a {
        color: #212121;
    }
}
.post-template .logo img {
    width: 44px;
    height: 40px;
}

// contact form

.contact-fm {
    width: 1000px;
    margin: 5% auto 10%;
    .contact-img {
        float: left;
        width: 500px;
        height: 400px;
        background-color: lightgreen;
    }
    .mw_wp_form {
        float: right;
        width: 500px;
    }
}
form::before {
    content: 'Get In Touch! '
}

