@charset "utf-8";
$blue: #3f43e4;
$font: 'Montserrat', sans-serif;
$speed: background-color 10s ease-in;
html {
    font-family: $font;
}
body.home {
    background-color: #f1ed62;
    color: $blue;
    transition: background-color 3s linear;
    a {
        color: $blue;
    }
}
body.page-template-who {
    background-color: #ffc9c9;
    color: $blue;
    a {
        color: $blue;
    }
}
body.page-template-work {
    background-color: #e6674a;
    color: #fdf475;
    a {
        color: #fdf475;
    }
}
.header {
    width: 100%;
    margin-top: 4.4444%;
    .logo {
        display: inline-block;
        width: 55px;
        height: 50px;
        float: left;
        margin-left: 4.4444%;
        img {
            width: 100%;
        }
    }
    .menu-menu-1-container {
        width: 70%;
        float: right;
        text-align: right;
        margin-right: 11.1111%;
        li {
            display: inline-block;
            margin-left: 50px;
            a {
                line-height: 50px;
                height: 50px;
                letter-spacing: 1.6px;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
    
}
.main-page {
    width: 100%;
    margin-top: 45px;
    .main-img {
        width: 100%;
        position: relative;
        height: 730px;
        img {
            display: inline-block;
            width: 76.6666%;
            height: auto;
            text-align: right;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
        .self-intro {
            position: absolute;
            left: 11.1111%;
            top: 11%;
            h1 {
                font-size: 10.605rem;
                line-height: 1.1;
            }
            p {
                font-size: 1.6rem;
                line-height: 1.5;
                margin-top: 50px;
            }
        }
    }
}

/* who am i*/
.align-center {
    width: 100%;
    margin-top: 45px;
    text-align: center;
    padding-top: 8.8888%;
    h1 {
        font-size: 100px;
        margin-bottom: 50px;
    }
    p {
        font-size: 1.6rem;
    }
}
.mie-intro {
    width: 100%;
    margin-bottom: 200px;
    .wrapper {
        position: relative;
        // padding-left: 21.3888%;
        padding-left: 11.1111%;
        h2 {
            font-size: 4.0rem;
            margin-top: 150px; //230px;
            margin-bottom: 70px; 
        }
        p {
            width: 660px;
            font-size: 1.6rem;
            line-height: 1.5;
        }
        .mie-photo {
            position: absolute;
            bottom: 0;
            right: 11.1111%;
            display: inline-block;
            width: 779px;
            height: 438px;
            z-index: -10;
        }
        .linked-in {
            display: inline-block;
            margin-top: 65px;
        }
    }
}
/* Work*/
.projects {
    text-align: center;
    color: #fff;
    margin-top: 230px;
    .select-p {
        font-size: 1.3rem;
        letter-spacing: 2px;
        font-weight: bold;
    }
    span {
        margin-top: 15px;
        display: inline-block;
        color: #fdf475;
        font-weight: bold;
        transform: rotate(20deg);
    }
    .project-item {
        margin-top: 95px;
        margin-bottom: 300px;
        h2 {
            margin-top: -260px;
            a {
                display: inline-block;
                color: #fff;
                font-size: 80px;
            }
        }
        .project-img {
            display: inline-block;
            width: 352px;
            height: 203px;
            img {
                display: block;
                width: 100%;
            }
        }
    }
}
.page-template-work {
    .logo img {
        content:url(../../img/logo-y.png);
    }
}