@charset "utf-8";
$blue: #3f43e4;
$font: 'Montserrat', sans-serif;
$speed: background-color 10s ease-in;
html {
    font-family: $font;
}
body.home {
    background-color: #f1ed62;
    color: $blue;
    transition: background-color 3s linear;
    a {
        color: $blue;
    }
}
body.page-template-who {
    background-color: #ffc9c9;
    color: $blue;
    a {
        color: $blue;
    }
}
body.page-template-work {
    background-color: #e6674a;
    color: #fdf475;
    a {
        color: #fdf475;
    }
}
.header {
    width: 100%;
    margin-top: 4.4444%;
    .logo {
        display: inline-block;
        width: 55px;
        height: 50px;
        float: left;
        margin-left: 4.4444%;
        img {
            width: 100%;
        }
    }
    .menu-menu-1-container {
        width: 70%;
        float: right;
        text-align: right;
        margin-right: 11.1111%;
        li {
            display: inline-block;
            margin-left: 50px;
            a {
                line-height: 50px;
                height: 50px;
                letter-spacing: 1.6px;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
    
}
.main-page {
    width: 100%;
    margin-top: 45px;
    .main-img {
        width: 100%;
        position: relative;
        height: 730px;
        img {
            display: inline-block;
            width: 76.6666%;
            height: auto;
            text-align: right;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
        .self-intro {
            position: absolute;
            left: 11.1111%;
            top: 11%;
            h1 {
                font-size: 10.605rem;
                line-height: 1.1;
            }
            p {
                font-size: 1.6rem;
                line-height: 1.5;
                margin-top: 50px;
            }
        }
    }
}

/* who am i*/
.align-center {
    width: 100%;
    margin-top: 45px;
    text-align: center;
    padding-top: 8.8888%;
    h1 {
        font-size: 100px;
        margin-bottom: 50px;
    }
    p {
        font-size: 1.6rem;
    }
}
.mie-intro {
    width: 100%;
    margin-bottom: 200px;
    .wrapper {
        position: relative;
        // padding-left: 21.3888%;
        padding-left: 11.1111%;
        h2 {
            font-size: 4.0rem;
            margin-top: 150px; //230px;
            margin-bottom: 70px; 
        }
        p {
            width: 660px;
            font-size: 1.6rem;
            line-height: 1.5;
        }
        .mie-photo {
            position: absolute;
            bottom: 0;
            right: 11.1111%;
            display: inline-block;
            width: 779px;
            height: 438px;
            z-index: -10;
        }
        .linked-in {
            display: inline-block;
            margin-top: 65px;
        }
    }
}
/* Work*/
.projects {
    text-align: center;
    color: #fff;
    margin-top: 230px;
    .select-p {
        font-size: 1.3rem;
        letter-spacing: 2px;
        font-weight: bold;
    }
    span {
        margin-top: 15px;
        display: inline-block;
        color: #fdf475;
        font-weight: bold;
        transform: rotate(20deg);
    }
    .project-item {
        margin-top: 95px;
        margin-bottom: 300px;
        h2 {
            margin-top: -260px;
            a {
                display: inline-block;
                color: #fff;
                font-size: 80px;
            }
        }
        .project-img {
            display: inline-block;
            width: 352px;
            height: 203px;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.page-template-work {
    .logo img {
        content:url(../../img/logo-y.png);
    }
}
/* Cebu work */
.post-template-single-phili header,
.post-template-single-pfBook header,
.post-template-single-firstclass header,
.post-template-single-tamakuchen header {
    display: none;
}
.post-template-single-phili {
    color: #212121;
}
.back-home {
    margin: 80px;
    .logo {
    
    }
    .go-front {
        display: inline-block;
        float: right;
        font-size: 1.2rem;
        font-weight: bold;
        color: #212121;
        line-height: 41.455px;
        span {
            content:url(../../img/arrow.png);
            margin-left: 50px;
        }
    }
}

.pf-work {
    width: 1030px;
    margin: 0 auto 90px;
    color: #212121;
    .title {
        font-size: 1.2rem;
        vertical-align: top;
    }
    .pf-th {
        font-size: 4.0rem;
        line-height: 0.8;
        font-weight: 600;
    }
    .right-100 {
        width: 140px;
    }
    .right-150 {
        width: 270px;
    }
    .desc {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .pf-desc {
        font-size: 1.6rem;
        line-height: 2;
        font-weight: 500;
    }
}
.pf-img {
    width: 100%;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.stand-out {
    width: 1030px;
    margin: 175px auto;
    font-size: 0;
    .title {
        float: left;
        width: 415px;
        font-size: 3.0rem;
        line-height: 1.3;
        font-weight: 600;
    }
    .desc {
        width: 615px;
        font-size: 1.6rem;
        float: left;
        line-height: 2;
        font-weight: 500;
    }
}
.work-img {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 55px;
    padding-bottom: 170px;
    .work-wrapper {
        margin: auto;
        width: 1030px;
        img {
            display: block;
            width: 100%;
        }
    }
}
.pfbook-content .work-img {
    padding-bottom: 0;
    padding-top: 110px;
}
.work-marble {
    width: 100%;
    padding: 110px 0;
    margin-top: -3px;
    margin-bottom: -3px;
    background: url('../../img/bg-marble.png') no-repeat;
    .book-page {
        width: 1100px;
        margin: auto;
        img {
            display: inline-block;
            width: 100%;
        }
    }
}
footer {
    width: 100%;
    background: url('../../img/bg-cebu.png') no-repeat;
}
footer.firstclass {
    background: url('../../img/bg-firstclass.png') no-repeat;
}
footer.pf-book {
    background: url('../../img/bg-pfbook.png') no-repeat;
}
footer.ft-tamakuchen {
    background: url('../../img/bg-tamakuchen.png') no-repeat;
}
.footer {
    display: flex;
    width: 1030px;
    margin: auto;
    padding: 150px 0;
    div {
        width: 33.3333%;
        height: 100px;
        line-height: 100px;
    }
    a, span {
        display: inline-block;
        color: #fff;
    }
    .prev-project {
        font-size: 1.2rem;
        letter-spacing: 1px;
        .prev {
            
        }
    }  
    .footer-work {
        text-align: center;
        font-size: 9.0rem;
        font-weight: 600; 
    }
    .next-project {
        font-size: 1.2rem;
        text-align: right;
        letter-spacing: 1px;
    }
}

.contact {
    text-align: center;
    padding: 150px;
    .contactmie {
        font-size: 3.0rem;
        font-weight: bold;
    }
    .email {  
            font-size: 7.0rem;
            font-weight: bold;
    }
}