html {
  font-family: "Montserrat", sans-serif;
}

body.home {
  background-color: #f1ed62;
  color: #3f43e4;
  -webkit-transition: background-color 3s linear;
  transition: background-color 3s linear;
}

body.home a {
  color: #3f43e4;
}

body.page-template-who {
  background-color: #ffc9c9;
  color: #3f43e4;
}

body.page-template-who a {
  color: #3f43e4;
}

body.page-template-work {
  background-color: #e6674a;
  color: #fdf475;
}

body.page-template-work a {
  color: #fdf475;
}

.header {
  width: 100%;
  margin-top: 4.4444%;
}

.header .logo {
  display: inline-block;
  width: 55px;
  height: 50px;
  float: left;
  margin-left: 4.4444%;
}

.header .logo img {
  width: 100%;
}

.header .menu-menu-1-container {
  width: 70%;
  float: right;
  text-align: right;
  margin-right: 11.1111%;
}

.header .menu-menu-1-container li {
  display: inline-block;
  margin-left: 50px;
}

.header .menu-menu-1-container li a {
  line-height: 50px;
  height: 50px;
  letter-spacing: 1.6px;
  font-size: 1.3rem;
  font-weight: bold;
}

.main-page {
  width: 100%;
  margin-top: 45px;
}

.main-page .main-img {
  width: 100%;
  position: relative;
  height: 730px;
}

.main-page .main-img img {
  display: inline-block;
  width: 76.6666%;
  height: auto;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.main-page .main-img .self-intro {
  position: absolute;
  left: 11.1111%;
  top: 11%;
}

.main-page .main-img .self-intro h1 {
  font-size: 10.605rem;
  line-height: 1.1;
}

.main-page .main-img .self-intro p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 50px;
}

/* who am i*/
.align-center {
  width: 100%;
  margin-top: 45px;
  text-align: center;
  padding-top: 8.8888%;
}

.align-center h1 {
  font-size: 100px;
  margin-bottom: 50px;
}

.align-center p {
  font-size: 1.6rem;
}

.mie-intro {
  width: 100%;
  margin-bottom: 200px;
}

.mie-intro .wrapper {
  position: relative;
  padding-left: 11.1111%;
}

.mie-intro .wrapper h2 {
  font-size: 4.0rem;
  margin-top: 150px;
  margin-bottom: 70px;
}

.mie-intro .wrapper p {
  width: 660px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.mie-intro .wrapper .mie-photo {
  position: absolute;
  bottom: 0;
  right: 11.1111%;
  display: inline-block;
  width: 779px;
  height: 438px;
  z-index: -10;
}

.mie-intro .wrapper .linked-in {
  display: inline-block;
  margin-top: 65px;
}

/* Work*/
.projects {
  text-align: center;
  color: #fff;
  margin-top: 230px;
}

.projects .select-p {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.projects span {
  margin-top: 15px;
  display: inline-block;
  color: #fdf475;
  font-weight: bold;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.projects .project-item {
  margin-top: 95px;
  margin-bottom: 300px;
}

.projects .project-item h2 {
  margin-top: -260px;
}

.projects .project-item h2 a {
  display: inline-block;
  color: #fff;
  font-size: 80px;
}

.projects .project-item .project-img {
  display: inline-block;
  width: 352px;
  height: 203px;
}

.projects .project-item .project-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.page-template-work .logo img {
  content: url(../../img/logo-y.png);
}

/* Cebu work */
.post-template-single-phili header,
.post-template-single-pfBook header,
.post-template-single-firstclass header,
.post-template-single-tamakuchen header {
  display: none;
}

.post-template-single-phili {
  color: #212121;
}

.back-home {
  margin: 80px;
}

.back-home .go-front {
  display: inline-block;
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: #212121;
  line-height: 41.455px;
}

.back-home .go-front span {
  content: url(../../img/arrow.png);
  margin-left: 50px;
}

.pf-work {
  width: 1030px;
  margin: 0 auto 90px;
  color: #212121;
}

.pf-work .title {
  font-size: 1.2rem;
  vertical-align: top;
}

.pf-work .pf-th {
  font-size: 4.0rem;
  line-height: 0.8;
  font-weight: 600;
}

.pf-work .right-100 {
  width: 140px;
}

.pf-work .right-150 {
  width: 270px;
}

.pf-work .desc {
  font-size: 1.8rem;
  font-weight: 600;
}

.pf-work .pf-desc {
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 500;
}

.pf-img {
  width: 100%;
}

.pf-img img {
  display: block;
  width: 100%;
  height: auto;
}

.stand-out {
  width: 1030px;
  margin: 175px auto;
  font-size: 0;
}

.stand-out .title {
  float: left;
  width: 415px;
  font-size: 3.0rem;
  line-height: 1.3;
  font-weight: 600;
}

.stand-out .desc {
  width: 615px;
  font-size: 1.6rem;
  float: left;
  line-height: 2;
  font-weight: 500;
}

.work-img {
  width: 100%;
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 170px;
}

.work-img .work-wrapper {
  margin: auto;
  width: 1030px;
}

.work-img .work-wrapper img {
  display: block;
  width: 100%;
}

footer {
  width: 100%;
  background: url("../../img/bg-cebu.png") no-repeat;
}

footer.firstclass {
  background: url("../../img/bg-firstclass.png") no-repeat;
}

footer.pf-book {
  background: url("../../img/bg-pfbook.png") no-repeat;
}

footer.ft-tamakuchen {
  background: url("../../img/bg-tamakuchen.png") no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1030px;
  margin: auto;
  padding: 150px 0;
}

.footer div {
  width: 33.3333%;
  height: 100px;
  line-height: 100px;
}

.footer a, .footer span {
  display: inline-block;
  color: #fff;
}

.footer .prev-project {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.footer .footer-work {
  text-align: center;
  font-size: 9.0rem;
  font-weight: 600;
}

.footer .next-project {
  font-size: 1.2rem;
  text-align: right;
  letter-spacing: 1px;
}
